Логин:
1. Принимаются буквы английского алфавита A - Z, a - z.
2. Принимаются цифры от 0 до 9.
3. В локальной части принимаются только следующие специальные знаки !#$%&'*+-/=?^_`{|}~.
4. Принимается точка [.], при условии, что это не первый или последний символ, а также при условии, что он не появляется несколько раз подряд (например, Alex...Galki@example.com не допускается)
5. В домене принимается горизонтальная черта [-] при условии, что это не первый или последний символ 
(например, Alex.Galki@-example.com не допускается)
5. E-mail адрес должен содержать один знак @.
6. Максимальная длина e-mail адреса 100 символов.
7. Минимальная длина домена и локальной части составляет 1 символ.

